.container
{
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin: 4%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
 
   
}
.container div img
{
    border-radius: 2%;
    width: 100%;
    height: 50%;
}
.container div *{

    margin: 4% 0%;
}
.container a{
    padding: 2%;
    background: #3b354b;
   text-decoration: none;
}
 



