*{
    margin: 0px;
    padding: 0px;
    color: white;
   
}
body{
    background: #1c1d25;
    font-family:sans-serif;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
    background: black;
   
}
.bar *{
    padding: 3%;
   
    width: 100%;
    
}
.bar h1 a{
    text-decoration: none;
}

.bar div{
    width: 30%;
    gap: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}